<div class="banner-wrap banner1">
    {{!--
    <img src="{{cdn 'img/lightopia-photos/banner1.jpg'}}" alt=""> --}}
    <div class="banner-flex">
        <div class="card-wrap cta">
            <a href="#">
                <span>new arrivals</span>
                <img src="{{cdn 'img/lightopia-photos/cta9.png'}}" alt="">
        </div>
        <div class="content-wrap">
            <h1 class="content1">in the dark?</h1>
            <h1 class="content2">we can help</h1>
            <a class="button button--primary orange" href="#">Shop Now</a>
        </div>
        <div class="card-wrap cta">
            <a href="#">
                <span>sale items</span>
                <img src="{{cdn 'img/lightopia-photos/cta10.png'}}" alt="">
            </a>
        </div>
    </div>
</div>
