<div class="sale-ctas">
	<div class="container">
		<div class="flex-wrap">
     <div class="cta">
        <a href="/brands/mitzi.html">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/content/assets/images/home-grids/small-grid-mitzi-collection.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="louis-poulsen-panthella-mini-led-table-lamp.html">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/content/assets/images/home-grids/small-grid-new-panthella.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="modern-forms-acid-large-led-multi-light-chandelier.html">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/content/assets/images/home-grids/small-grid-led-modern-forms-acid.jpg'}}" alt="call to action3">
	</a>
    </div>
    <div class="cta">
        <a href="oly-lighting-serena-waterfall-chandelier.html">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/content/assets/images/home-grids/small-grid-new-serena-waterfall.jpg'}}" alt="call to action4">
	</a>
    </div>
    <div class="cta">
        <a href="the-modern-fan-company-ic-air3-fan.html">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/content/assets/images/home-grids/small-grid-ic-air-fan.jpg'}}" alt="call to action4">
	</a>
    </div>
	</div>
</div>
<div class="brandlink text-center">
    <a href="/brands/">
        <div class="group-wrap">
            
            <img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/bubbles-1.jpg"/>
           <!-- <img src="/product_images/uploaded_images/banner1.jpg"/>-->
            <div class="text-wrap">
            {{!--<h2>shop siemon &amp; salazar</h2>--}}
            <button class="button">shop now</button>
        </div>
        </div>
    </a>
</div>
</div>


<!--<div class="top-ctas">
	<div class="container">
		<div class="flex-wrap">
     <div class="cta">
        <a href="#">
		<span>what's hot</span>
		<img src="{{cdn 'img/lightopia-photos/cta1.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
		<span>energy efficient bulbs</span>
		<img src="{{cdn 'img/lightopia-photos/cta2.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>new from italy</span>
		<img src="{{cdn 'img/lightopia-photos/cta3.jpg'}}" alt="call to action3">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>made in the usa</span>
		<img src="{{cdn 'img/lightopia-photos/cta4.jpg'}}" alt="call to action4">
	</a>
    </div>
	</div>
</div>
</div>-->
<!--<div class="bottom-ctas">
	<div class="container">
	<div class="flex-wrap">
    <div class="cta">
        <a href="#">
			<span>handmade design</span>
		<img src="{{cdn 'img/lightopia-photos/cta5.jpg'}}" alt="call to action5">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>staff picks</span>
		<img src="{{cdn 'img/lightopia-photos/cta6.jpg'}}" alt="call to action6">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>trade program</span>
		<img src="{{cdn 'img/lightopia-photos/cta7.jpg'}}" alt="call to action7">
	</a>
    </div>
     <div class="cta">
        <a href="#">
		<span>see the light</span>
		<img src="{{cdn 'img/lightopia-photos/cta8.jpg'}}" alt="call to action2">
	</a>
    </div>
  </div>
</div>
</div> -->
