{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
{{> components/common/footer-banner }}
<!--- Email Form WITH LISTRAK CODE--->
<div class="email-signup">
    <div class="container">
        <div class="form-title flex-item">
            <p>Be the first to know about special offers!</p>
            <span>We're not clingy, once a week, promise:) unsubscribe anytime.</span>
        </div>
    <form class="signup-form flex-item" method="post" action="http://enews.lightopiaonline.com/q/uZ-00ajRucT6IYHqp87clM2YWFqOK2LMHy" accept-charset="UTF-8">
        <input type="hidden" name="crvs" value="gqOrRB8YVQ0aYWr6WEM679V6QqV8eZatTiRc1QXwcRZivmAwvWabEekTcXRY72emSZ1YWvSp993EkI9jpxQvSQ"/>

    <fieldset>

 <input type="name" placeholder="Full Name">
       <input type="text" name="email" size="25" maxlength="75" value="" placeholder="Email"/>

        <button type="submit" class="pure-button pure-button-primary">Sign Up</button>
        <input type="text" name="NameF" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="NameL" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
      <input type="text" name="Comment" size="10" maxlength="10" value="" tabindex="-1" autocomplete="off" style="float: left !important; position:absolute !important; left:-9000px !important; top: -9000px !important;"/>
    </fieldset>
</form>
</div></div>
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
        <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
            data-section-type="footer-webPages">
            <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
            {{> components/common/social-links}}
        </article>
        {{/if}}
         <section class="footer-info2">
            
             <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/contact-us/">Contact Us</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/shipping-returns/">Returns</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/shipping-returns/">Shipping</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/faq/">FAQ's</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/locations/">Locations</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/about-us/">About Us</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/people/">People</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="/lighting-design/">Lighting Design</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="http://blog.lightopiaonline.com">Blog</a></h5>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading"><a href="https://www.youtube.com/user/lightopia">Videos</a></h5>
            </article>
        </section>
        <section class="footer-info">
            <a class="" href="" class="footer-logo">
                    <img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/images/stencil/original/logonew_1553781927__54716.original.png" alt="footer logo">
                </a>

              <!--  <a class="yelp-logo" href="https://www.lighting-one.com/?utm_source= Showroom-Site&utm_campaign=HOL-Lighting&utm_medium=referral " class="footer-logo">
                    <img src="{{cdn 'img/lightopia-photos/footerLogo.jpg'}}" alt="footer logo">
                </a>-->
                {{!-- <p class="company-quote">Our company is dedicated to providing the very best quality products and service. Happy customers is our
                    number one goal! We strive to be the best in the industry and innovate our products.</p> --}}

             <!---  <a class="yelp-logo" href="https://www.yelp.com/biz/lightopia-costa-mesa"><img src="{{cdn 'img/lightopia-photos/yelp.png'}}" alt="yelp logo"></a>

               <a class="houzz-logo" href="/"><img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/ala-logo.png?t=1553790215" alt="ala logo"></a>

               <a class="houzz-logo" href="https://www.houzz.com/pro/lightopia/lightopia"><img src="{{cdn 'img/lightopia-photos/houzz-logo.png'}}" alt="houzz logo"></a>
               
               <a class="" href="" class="footer-logo">
                    <img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/geotrust-logo-white-bg.png?t=1553790216" alt="footer logo">
                </a>-->

            {{!-- <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                {{!-- <ul class="footer-info-list">
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                  
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                      <li> <a href="/giftcertificates.php">Gift Certificates</a></li>
                </ul> --}}
            {{!-- </article> --}}

            {{!-- <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">{{lang 'footer.categories'}}</h5>
                <ul class="footer-info-list">
                    {{#each categories}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </article> --}}

            {{!-- {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.brands}}">{{lang 'common.view_all'}}</a>
                    </li>
                </ul>
            </article> 
            {{/and}} {{#if settings.address}}
            {{!-- <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h5 class="footer-info-heading">{{lang 'footer.info'}}</h5>
                <address>{{nl2br settings.address}}</address> --}}
               <!--{{#if settings.phone_number}}
               <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
              {{/if}}-->
              {{!-- <span class="flex-item"><a href="tel:18775597516"><strong>877-559-7516</strong></a><br />Open 7 days</span>
            </article> --}}
            {{!-- {{/if}} --}}

           
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
        <div class="footer-geotrust-ssl-seal">
            {{> components/common/geotrust-ssl-seal}}
        </div>
        {{/if}}
<!--- Second Level of Logos ----->
        <section class="footer-info-3">

                <a class="yelp-logo" href="https://www.lighting-one.com/?utm_source= Showroom-Site&utm_campaign=HOL-Lighting&utm_medium=referral " class="footer-logo">
                    <img src="{{cdn 'img/lightopia-photos/footerLogo.jpg'}}" alt="footer logo">
                </a>

               <a class="yelp-logo" href="https://www.yelp.com/biz/lightopia-costa-mesa"><img src="{{cdn 'img/lightopia-photos/yelp.png'}}" alt="yelp logo"></a>

               <a class="houzz-logo" href="/"><img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/american-lighting-association-logo1.jpg" alt="ala logo"></a>

               <a class="houzz-logo" href="https://www.houzz.com/pro/lightopia/lightopia"><img src="{{cdn 'img/lightopia-photos/houzz-logo.png'}}" alt="houzz logo"></a>
               
               <a class="" href="" class="footer-logo">
                    <img src="https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/geotrust-logo-white-bg.png?t=1553790216" alt="footer logo">
                </a>
           
        </section>

<!----- End Second Level of Logos ---->
</footer>
<div class="sub-footer">
    <div class="container content">
        <div class="left">
             {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
            {{/if}}
        </div>


        {{> components/common/social-links-footer}}
    </div>
</div>
