<nav class="footer-banner">
    <div class="container flex-container">        
        <!-- <div class="navUser-item">
            <a href="#">Happiness Guaranteed</a>
        </div> -->
         <div class="navUser-item">
            <a href="/shipping-returns/">Free Shipping</a>
        </div>
            <div class="navUser-item">
            <a href="/shipping-returns/">Easy Returns</a>
        </div>
           <div class="navUser-item">
            <a href="/people/">Design Help</a>
        </div>
         <div class="navUser-item">
            <a href="/people/">Honest Service</a>
        </div>
    </div>
</nav>
