<header class="header" role="banner">
   <!-- <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>-->
   {{> components/common/navigation}}
     {{> components/common/navigation-mobile}}
       {{> components/common/navigation1}}
    {{!--{{> components/common/navigation2}}--}}
        {{> components/common/navigation3}}
   {{!--<h1 class="header-logo header-logo--left">
            {{> components/common/store-logo}}
        </h1>--}}
    {{!--{{{region name="header_bottom"}}}--}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
