<nav class="container">
    <div class="flex-parent-1">
    <div class="flex-item">{{> components/common/store-logo}}</div><!-- Left Column -->
    <div class="flex-item"><!-- Right Column -->
    <div class="flex-parent-2">
    <div class="flex-item"><!-- Stacked Columns -->

   <div class="flex-parent-3">
    <div class="flex-item-right"><!-- Login Icon -->
{{#if customer }}
<a class="navUser-action" href="/login.php">
<span class="loginText" aria-hidden="true">Logout</span>
</a>
{{else}}
<a class="navUser-action" href="/login.php">
<span class="loginText" aria-hidden="true">Login</span>
</a>
{{/if}}

        </div><!-- Login Icon End -->
            <div class="flex-item-right"><!-- Wish List -->
{{#if settings.show_wishlist}}
{{#if customer }}
{{> components/common/wishlist-dropdown}}
{{else}}
<div class="pleaseLogin">
<a class="navUser-action" href="/login.php"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
</div>
{{/if}}
{{/if}}
        </div><!-- End Wishlist -->
<!---------------- Cart Start----------------------->
<div class="flex-item-right">
         <span class="cart-item">
            <a
            class="navUser-action"
            data-cart-preview
            data-dropdown="cart-preview-dropdown"
            data-options="align:right"
            href="{{urls.cart}}">
            <span class="navUser-item-cartLabel"><!--<i class="fa fa-shopping-cart"></i>-->
            <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
            <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>
        </span>
</div>
<!---------------- Cart End ----------------------->
        </div>
        </div>
<div class="flex-item">

   <div class="flex-parent-4">
    <div class="flex-item">
<!--<span><a class="navUser-action" href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></span>-->
        </div>
            <div class="flex-item">
<div class="search-wrap">{{> components/common/search-box}}</div>
        </div>
    </div>
   {{!-- {{#if settings.show_wishlist}}
            {{#if customer }}
                {{> components/common/wishlist-dropdown}}
            {{else}}
                <div class="pleaseLogin">
                    <a class="navUser-action" href="/login.php"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
            {{/if}}
        {{/if}}
        <!---Start Search -->
        <span><a class="navUser-action" href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></span>
        <div class="search-wrap">{{> components/common/search-box}}</div>--}}
</div>
    </div>
    </div>

    </div>
    </div>
    </div>
</nav>
