<div class="sale-ctas">
	<div class="container">
		<div class="flex-wrap">
     <div class="cta">
        <a href="#">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/small-grid-sale-lbl-lighting-3-18.jpg?t=1556907365'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/small-grid-sale-hudson-valley-20.jpg?t=1556907364'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/small-grid-sale-currey-30.jpg?t=1556907364'}}" alt="call to action3">
	</a>
    </div>
    <div class="cta">
        <a href="#">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/small-grid-sale-bover-15.jpg?t=1556907363'}}" alt="call to action4">
	</a>
    </div>
     <div class="cta">
        <a href="#">
		<img src="{{cdn 'https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/small-grid-sale-arturo-alvarez-12-17.jpg?t=1556907363'}}" alt="call to action4">
	</a>
    </div>
	</div>
</div>
</div>


<div class="top-ctas">
	<div class="container">
		<div class="flex-wrap">
     <div class="cta">
        <a href="#">
		<span>what's hot</span>
		<img src="{{cdn 'img/lightopia-photos/cta1.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
		<span>energy efficient bulbs</span>
		<img src="{{cdn 'img/lightopia-photos/cta2.jpg'}}" alt="call to action2">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>new from italy</span>
		<img src="{{cdn 'img/lightopia-photos/cta3.jpg'}}" alt="call to action3">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>made in the usa</span>
		<img src="{{cdn 'img/lightopia-photos/cta4.jpg'}}" alt="call to action4">
	</a>
    </div>
	</div>
</div>
</div>
<!--<div class="bottom-ctas">
	<div class="container">
	<div class="flex-wrap">
    <div class="cta">
        <a href="#">
			<span>handmade design</span>
		<img src="{{cdn 'img/lightopia-photos/cta5.jpg'}}" alt="call to action5">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>staff picks</span>
		<img src="{{cdn 'img/lightopia-photos/cta6.jpg'}}" alt="call to action6">
	</a>
    </div>
    <div class="cta">
        <a href="#">
			<span>trade program</span>
		<img src="{{cdn 'img/lightopia-photos/cta7.jpg'}}" alt="call to action7">
	</a>
    </div>
     <div class="cta">
        <a href="#">
		<span>see the light</span>
		<img src="{{cdn 'img/lightopia-photos/cta8.jpg'}}" alt="call to action2">
	</a>
    </div>
  </div>
</div>
</div> -->
