{{!-- {{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon icon--google" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-google" /></svg>
                    </a>
                {{else}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-{{display_name}}" /></svg>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}} --}}

<ul class="social-links clearfix">
<li class="social-link">
    <a href="https://www.instagram.com/lightopia_/?hl=en" target="blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
  </li>
  
<li class="social-link">
        <a href="https://www.houzz.com/pro/lightopia/lightopia" target="blank"><i class="fa fa-houzz fa-lg" aria-hidden="true"></i></a>
    </li>

<li class="social-link">
    <a href="https://www.facebook.com/lightopiaonline/" target="blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
  </li>
  
<li class="social-link">
        <a href="http://blog.lightopiaonline.com/" target="blank"><i class="fa fa-rss fa-lg" aria-hidden="true"></i></a>
    </li>
    
    <li class="social-link">
        <a href="https://www.pinterest.com/lightopia/" target="blank"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="social-link">
        <a href="https://plus.google.com/+Lightopiaonline?rel=author" target="blank"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
    </li>
</ul>
